#define BT_DISC_SEL(NAME, IDX, LABELTXT)                                         \
    NAME: NAME {                                                                 \
        label = LABELTXT;                                                        \
        compatible = "zmk,behavior-macro";                                       \
        #binding-cells = <0>;                                                    \
        /* wait-ms = <150>; */                                                   \
        bindings = <&bt BT_SEL IDX>;                              \
    }                                                                            \

/ {                                             
    macros {
        BT_DISC_SEL(mac_slot0, 0, "MAC_SLOT0");
        BT_DISC_SEL(mac_slot1, 1, "MAC_SLOT1");
        BT_DISC_SEL(mac_slot2, 2, "MAC_SLOT2");
        BT_DISC_SEL(iphone_slot, 3, "IPHONE_SLOT");
        BT_DISC_SEL(ipad_slot, 4, "IPAD_SLOT");
    };
};

