/* --- helpers: disconnect all EXCEPT the given slot --- */
#define DISC_EXCEPT_0  , <&bt BT_DISC 1> , <&bt BT_DISC 2> , <&bt BT_DISC 3> , <&bt BT_DISC 4>
#define DISC_EXCEPT_1  , <&bt BT_DISC 0> , <&bt BT_DISC 2> , <&bt BT_DISC 3> , <&bt BT_DISC 4>
#define DISC_EXCEPT_2  , <&bt BT_DISC 0> , <&bt BT_DISC 1> , <&bt BT_DISC 3> , <&bt BT_DISC 4>
#define DISC_EXCEPT_3  , <&bt BT_DISC 0> , <&bt BT_DISC 1> , <&bt BT_DISC 2> , <&bt BT_DISC 4>
#define DISC_EXCEPT_4  , <&bt BT_DISC 0> , <&bt BT_DISC 1> , <&bt BT_DISC 2> , <&bt BT_DISC 3>

/* --- template: select IDX, then disconnect others --- */
#define BT_SEL_CLEAN(NAME, IDX, LABELTXT)                                        \
    NAME: NAME {                                                                 \
        label = LABELTXT;                                                        \
        compatible = "zmk,behavior-macro";                                       \
        #binding-cells = <0>;                                                    \
        /* wait-ms = <120>; */                                                   \
        bindings = <&bt BT_SEL IDX> DISC_EXCEPT_##IDX;                           \
    }                                                                            \

/ {
    behaviors {
        BT_SEL_CLEAN(mac_slot0, 0, "MAC_SLOT0")
        BT_SEL_CLEAN(mac_slot1, 1, "MAC_SLOT1")
        BT_SEL_CLEAN(mac_slot2, 2, "MAC_SLOT2")
        BT_SEL_CLEAN(iphone_slot, 3, "IPHONE_SLOT")
        BT_SEL_CLEAN(ipad_slot, 4, "IPAD_SLOT")
    };
};

